<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="MklinkUIAppComponents" Directory="INSTALLFOLDER">

      <Component Guid="*">
        <File Source="..\src\MklinkUI.App\bin\$(var.Configuration)\net8.0-windows\publish\MklinkUI.App.exe" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
